/* CSS Document */
.header {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:100px;
	/*background:url(../imgs/banner.png)no-repeat center;*/
	background-color:#660000;
	}
.foto{
	background-color: #fff;
	border:solid 1px #ccc;
	height: 140px;
	width: 130px;
	border-radius:5px;
	text-align: center;

	}
hr#separacion{
	height: 10px;
	position: relative;
	background-color: #333;
	border: none;
	color: #333;
	margin-top:0px;
	}
#menuPrincipal{
	position:relative;
	margin-top:-20px;
	z-index: 2;
	}
#login{
	position:relative;
	margin-top:50px;
	border:solid 1px #66afe9;
	border-radius:10px;
	padding: 20px 15px 15px 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	}
#form{
	border:solid 1px #ccc;
	background-color: #F0F0F0;
	border-radius:10px;
	padding: 20px 15px 15px 20px;
	}
#mensaje{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	size:14px;
	color:#66afe9;
	}
#contenido{
	position:relative;
	width: 100%;
	height:900px;
	text-align:center;
	}
#pdf{
	position:relative;
	width: 100%;
	height:850px;
	margin-top: 10px;
	text-align:center;
	}
#datosEmail{
	display:none;
	}
#formReg{
	display:none;
	} 
#form-madre{
	display:none;
	}
#form-padre{
	display:none;
	}
#form-representante{
	display:none;
	}
#imagenPortada{
	margin-top: 60px;
	text-align: center;
	}
#ficha{
	background-color:#FF802B;
	color:#FFF;
	padding: 2px 2px 2px 2px;
	border:solid 1px #F60;
	border-radius:5px;
	}
.errores{
	display: block;
    background-color: #BC1010;
    border-radius: 4px 4px 4px 4px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:700;
    color: white;
    margin-left: 18px;
    margin-top: -6px;
    padding: 6px 12px;
    position: absolute;
	}
.errores:before{
    border-color: transparent #BC1010 transparent transparent;
    border-style: solid;
    border-width: 6px 8px;
	font-family:Verdana, Geneva, sans-serif;
    content: "";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 8px;
    width: 0;
}